@layer components {
  .note {
    @apply max-w-full prose bg-blue-200 border-blue-600 border-l-4 mb-4 p-4 rounded dark:prose-dark;

    * {
      @apply dark:text-gray-700
    }

    p a {
      @apply underline hover:no-underline
    }
  }
}
