MYSQL_DATABASE=drupal
MYSQL_PASSWORD=drupal
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=drupal

# DOCKER_MYSQL_VOLUME=./db-data:/var/lib/mysql
DOCKER_MYSQL_VOLUME=mysql_data:/var/lib/mysql

# DOCKER_WEB_PORT=80
DOCKER_WEB_PORT=127.0.0.1:80
