*
!*/
!/.gitignore
!/**/.gitkeep
!/.idea/**
!/bin/*
!/config/**
!/phpstan.neon
!/scripts/**
!/web/modules/custom/**
!/web/sites/default/environments/settings.*.php
!/web/sites/default/settings.php
!/web/themes/custom/**
/.idea/workspace.xml
/vendor/
/web/themes/custom/*/dist/
