/*
!/.gitignore
!/**/.gitkeep
!/.github/
!/.idea/
!/bin/
!/config/
!/Makefile
!/phpcs.xml.dist
!/phpstan.neon
!/phpunit.xml.dist
!/scripts/
!/slides/
!/tools/
!/web/modules/custom/
!/web/sites/default/environments/settings.*.php
!/web/sites/default/settings.php
!/web/themes/custom/
!/workspace.yml
/.idea/workspace.xml
/tools/ansible/.roles/
