*
!*/
!/.gitignore
!/**/.gitkeep
!/.github/**
!/.idea/**
!/bin/*
!/config/**
!/Makefile
!/phpstan.neon
!/phpunit.xml.dist
!/scripts/**
!/web/modules/custom/**
!/web/sites/default/environments/settings.*.php
!/web/sites/default/settings.php
!/web/themes/custom/**
/.idea/workspace.xml
/vendor/
/web/themes/custom/*/body-field-values.txt
/web/themes/custom/*/dist/
