parameters:
  level: 7
  paths:
    - web/modules/custom
    - web/themes/custom
  excludes_analyse:
    - *Test.php
    - *TestBase.php
  checkMissingIterableValueType: false
  ignoreErrors:
    - '#Call to an undefined method Drupal\\Core\\Entity\\EntityInterface::set()#'
    - '#Call to an undefined method Drupal\\Core\\Field\\FieldItemListInterface::referencedEntities()#'
includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
