parameters:
  level: 7
  paths:
    - web/modules/custom
    - web/themes/custom
  excludes_analyse:
    - *Test.php
    - *TestBase.php
  checkMissingIterableValueType: false
  ignoreErrors:
  - '#Call to an undefined method Drupal\\Core\\Field\\FieldItemListInterface::referencedEntities()#'
  - '#Call to an undefined method Drupal\\views\\Plugin\\views\\query\\QueryPluginBase::addOrderBy().#'
  - '#Call to an undefined method GuzzleHttp\\ClientInterface::post().#'
includes:
  - vendor/mglaman/phpstan-drupal/extension.neon
  - vendor/phpstan/phpstan-deprecation-rules/rules.neon
