h1, h2, h3 {
  @apply font-bold
}

h1 {
  @apply text-3xl leading-normal
}

h2 {
  @apply text-2xl leading-normal
}

img {
  @apply max-w-full h-auto
}

a {
  @apply text-blue-500 no-underline hover:underline
}

blockquote {
  @apply pl-5 border-l-4 border-gray-200 italic
}

iframe {
  @apply max-w-full
}
