@import 'tailwindcss/base';
@import './custom-base.pcss';

@import 'tailwindcss/components';
@import './components/*.pcss';

@import './libraries/hljs.pcss';

@import 'tailwindcss/utilities';
@import './custom-utilities.pcss';
