@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './base/*.pcss';
@import './components/*.pcss';
@import './libraries/*.pcss';
@import './utilities/*.pcss';
