<div class="min-h-screen font-sans text-base font-light text-gray-900 md:text-xl dark:bg-gray-900 dark:text-white">
  {{ page.header }}

  <div class="max-w-2xl px-4 py-10 mx-auto md:py-16">
    <div id="main-content">
      <div class="mt-4">
        {{ page.content }}
      </div>
    </div>

    {{ page.footer }}
  </div>
</div>
